<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <h1 id="mainHeader">Chatwall</h1>

        <div class="loginForm1">
            <form action="/login" method="post">
                Username <input class="input1" type="text" name="username">
                <p>
                Password <input class="input1" type="password" name="password">
                <p>
                <div class="loginCont">
                    <input class="button1" type="submit" value="Log in">
                    <a class="button2" href="/register">Register</a>
                </div>
            </form>

        </div>


</html>