<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <h1 id="mainHeader">Chatwall</h1>
        <div id="newThingCont" style="width: min-content">
            <form style="margin:auto;" action="/send" method="post">
                <p>Topic </p>
                <textarea name="topic" rows="3" cols="40"></textarea>

                <p>Content </p>
                <textarea name="content" rows="3" cols="40"></textarea>

                <br>
                <div class="loginCont">
                    <input class="button1" type="submit" value="Send">
                </div>
            </form>
        </div>
    </body>
</html>