:root {

}

* {
    font-family: sans-serif;
}
body {
    background-color: rgba(255,255,255);
}

.input1 {
    border-radius: 5px;
    border: 1px;
    border-style: solid;
}

.button1 {
    font-size: 16;
    background-color: rgba(100,150,255);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgba(100,150,255);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button2 {
    font-size: 16;
    background-color: rgba(255,255,255);
    text-decoration: none;
    color: rgba(100,150,255);
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgba(100,150,255);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: min-content;
}

.button1:hover {
    transition-duration: 0.2s;
    background-color: rgba(50,100,200);
}

.loginCont {
    flex: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgba(255,0,0,0);
    width: 175px;
    margin-top: 20px;
}

#subjectsCont {
    text-align: center;
    height: 3/4;
    overflow-y: scroll;

    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border: 1px;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.2)
}

#mainHeader {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.loginForm1 {
    margin: auto;
    padding: 20px;
    grid-row: auto;

    width: 300px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(100,150,255,0.5);
}

#newThingCont {
    margin: auto;
    width: 500px;
}

.messageBlock{
    background-color: white;
}